{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container marketing">
 <hr class="featurette-divider">
    <div class="row featurette" style="margin-top: 75px">
            <div class="col-md-7">
              <h2 class="featurette-heading">О проекте </h2>
              <p class="lead" style="align:justify">
              SyMSim (Synthesis Monitoring and Simulation) — программный комплекс для моделирования распределенных систем хранения и обработки больших объемов данных (до десятков петабайт в год).
              <p class="lead" style="align:justify">Основные компоненты программного комплекса: имитационная модель, база данных и веб-интерфейс.</p>
              <p class="lead" style="align:justify">База данных содержит входные параметры модели и данные мониторинга вычислительных систем. Веб-интерфейс позволяет взаимодействовать с программой, управлять генерацией потоков заданий, выбирать конфигурации оборудования, осуществлять запуск модели и просматривать результаты моделирования.</p>
              <p class="lead" style="align:justify">Подход имитационного моделирования потока дискретных событий является универсальным. События, происходящие в модели, привязываются к внутреннему времени. Результатом работы модели является величина времени обработки пакета и понимание того, как структура вычислительной установки и производительность отдельных ее частей влияют на это время. Другой вопрос, на который получают ответ при моделировании, какими резервами обладает вычислительная установка, то есть какова верхняя граница интенсивности потока задач (данных) и какие компоненты установки оказывают на нее существенное влияние.</p>
              <p class="lead" style="align:justify">Программный комплекс разработан в Лаборатории информационных технологий (ЛИТ) Объединенного института ядерных исследований (ОИЯИ) и имеет свидетельство о государственной регистрации №2017618100 от 21 июля 2017 г.
              Подробнее о проекте Вы можете узнать на официальном сайте <a href="http://symsim.jinr.ru/">SyMSim</a>.
              </p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src='{% static "symsim/img/grant.png" %}' alt="Generic placeholder image" style="padding-top:8%">
            </div>
    </div>
</div>
{% endblock content %}